@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: Add some base styling */
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f0f0f0; /* Light gray background for contrast */
}
.bg-dark-transparent{
  background-color: rgba(0, 0, 0, 0.5);
}